<center><h1>Python Pandas Tutorial</h1><center>

## Pandas is Python Data Analysis Library

Pandas is an open source, BSD-licensed(can use for commercial means) library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language

* Widely used
* Open Source
* Active Development
* Great Documentation

Home Page: http://pandas.pydata.org/

User Documentation: http://pandas.pydata.org/pandas-docs/stable/

Great Cheat Sheet: https://github.com/pandas-dev/pandas/blob/master/doc/cheatsheet/Pandas_Cheat_Sheet.pdf

Best book by Pandas' creator Wes McKinney (3rd Edition 2022): https://wesmckinney.com/book/

GeoPandas: https://geopandas.org/

### Pandas resources

- https://www.dataschool.io/easier-data-analysis-with-pandas/ (video)

- Tutorials: https://pandas.pydata.org/pandas-docs/stable/getting_started/tutorials.html
  - ["Getting started"](https://pandas.pydata.org/pandas-docs/stable/getting_started/index.html) - see also the "10 minutes to pandas" section
  - ["Modern Pandas"](http://tomaugspurger.github.io/modern-1-intro.html) tutorial
  - [Python Data Science Handbook - Pandas](https://jakevdp.github.io/PythonDataScienceHandbook/index.html#3.-Data-Manipulation-with-Pandas)
  
- [Pandas cheat-sheet](pandas_cheatsheet.pdf)

Pandas offers two labeled data structures: pd.Series and pd.DataFrame

In [ ]:
import pandas as pd

In [ ]:
#pd.reset_option('display.max_rows')
pd.options.display.max_rows = 40

In [ ]:
import numpy as np # another big library with various numeric functions

In [ ]:
import matplotlib.pyplot as plt

## Reading data files

In [ ]:
# Pandas can read data not just from files but also from web URLs:

# city_data = pd.read_csv("data/iedz_skaits_2018.csv", index_col=0)
csv_url = "https://raw.githubusercontent.com/CaptSolo/LU_GeoPython_2022/main/notebooks/data/iedz_skaits_2018.csv"

city_data = pd.read_csv(csv_url, index_col=0)

In [ ]:
city_data.head()

In [ ]:
type(city_data)

In [ ]:
city_data.plot()
plt.xticks(rotation=90)

In [ ]:
city_series = city_data.squeeze()
type(city_series)

In [ ]:
city_series.head()

In [ ]:
city_series["Salaspils"]

In [ ]:
city_series.sum()

In [ ]:
city_series.describe()

In [ ]:
city_series[city_series < 1000]

In [ ]:
bitmap = city_series < 1000
bitmap.sample(20)   # kādēļ sample() nevis head()

In [ ]:
city_series[bitmap].sort_index()

In [ ]:
city_series[bitmap].sort_values(ascending=False)

# Pandas' two fundamental data structures: Series and DataFrame.

### Series
A Series is a one-dimensional array-like object containing a sequence of values (
similar types to NumPy types) and an associated array of data labels - index.
Simplest Series is from an array of data.

In [ ]:
# Let's create some Series!

In [ ]:
s = pd.Series([1,4,3.5,3,np.nan,0,-5])
s

In [ ]:
# we can perform operations on whole Series in one go:

s+4

In [ ]:
# NaN = Not a Number (used for missing numerical values)
# https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html

In [ ]:
s2 = s * 4 
s2

In [ ]:
s2**2

In [ ]:
### Often you want Series with an index identifying each data point with a label

In [ ]:
labeledSeries = pd.Series([24, 77, -35, 31], index=['d', 'e', 'a', 'g'])
labeledSeries

In [ ]:
## A  bit similar to dictionary isn't it?

In [ ]:
labeledSeries['g']

In [ ]:
labeledSeries.index

In [ ]:
labeledSeries.values

In [ ]:
labeledSeries[['a','d']] # NOTE double list brackets!!

In [ ]:
# result of comparison = boolean array

labeledSeries > 30

In [ ]:
# select values via a boolean array

labeledSeries[labeledSeries > 30]

In [ ]:
# So Series behaves like a fixed-length, ordered dictionary with extra helper methods

In [ ]:
'd' in labeledSeries

### Can create series from dictionary by simply passing to constructor pd.Series(mydict)

In [ ]:
citydict = {'Riga': 650000, 'Tukums':20000, 'Ogre': 25000, 'Carnikava': 3000}
citydict

In [ ]:
cseries = pd.Series(citydict)
cseries

In [ ]:
## Overwriting default index
clist = ['Jurmala', 'Riga', 'Tukums', 'Ogre', 'Daugavpils']
cseries2 = pd.Series(citydict, index = clist)
cseries2

In [ ]:
# notice Carnikava was lost, since our index did not have it!
# and order was preserved from the given index list!

In [ ]:
# For missing data
cseries2.isnull()

In [ ]:
cseries2.dropna()

In [ ]:
cseries2

In [ ]:
cseries3 = cseries + cseries2
cseries3

In [ ]:
# So NaN + number = NaN

In [ ]:
# we can name the table and its index column

cseries.name = "Latvian Cities"
cseries.index.name = "City"
cseries

In [ ]:
cseries.index

In [ ]:
cseries.index = ['CarnikavaIsNotaCity','OgreEatsHumans', 'RigaIsOld', 'TukumsSmukums']
cseries

In [ ]:
# Series values are mutable
cseries['RigaIsOld']=625000
cseries

In [ ]:
# How to rename individual index elements?
cseries.index[2]='RigaIsOldButFantastic'
cseries

In [ ]:
# We use Renaming method to rename individual elements

In [ ]:
cseries.rename(index={'RigaIsOld':'RigaRocks'})

### Integer (Position-based) vs Label-based Indexes

Working with pandas objects indexed by integers is something that often trips up
new users due to some differences with indexing semantics on built-in Python data
structures like lists and tuples. For example, you might not expect the following code
to generate an error:

In [ ]:
ser = pd.Series(np.arange(3.))
ser

In [ ]:
ser[-1]

In this case, pandas could “fall back” on integer indexing, but it’s difficult to do this in
general without introducing subtle bugs. 

Here we have an index containing 0, 1, 2,
but inferring what the user wants (label-based indexing or position-based) is difficult:

In [ ]:
ser

In [ ]:
## With a non-integer index there is no potential for ambiguity:

In [ ]:
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
ser2[-1]

In [ ]:
ser2[::-1]

In [ ]:
## To keep things consistent, if you have an axis index containing integers, data selection
## will always be label-oriented. 

# For more precise handling, use loc (for labels) or iloc (for integer index):

In [ ]:
ser2.loc['b']

In [ ]:
# Note: label indexing includes the endpoint, integer indexing does not
ser.loc[:1]

In [ ]:
ser.iloc[:1]

* loc gets rows (or columns) with particular labels from the index.

* iloc gets rows (or columns) at particular positions in the index (so it only takes integers).

# Date Range creation

Date ranges are used as indexes for time series data:
* https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#time-series

In [ ]:
dates = pd.date_range('20180521', periods=15)
dates

In [ ]:
pd.date_range('20210422', periods=15, freq="W")

In [ ]:
pd.date_range('20200416', periods=7, freq="W-THU")

In [ ]:
# more on data_range frequency here
# https://stackoverflow.com/questions/35339139/where-is-the-documentation-on-pandas-freq-tags

In [ ]:
# Datetime is in the standard library (so all Python installations will have it)
from datetime import date
date.today()

In [ ]:
# We can get a data range starting from today
months = pd.date_range(date.today().strftime("%Y-%m-%d"), periods = 10, freq='BMS')
months

## DataFrame

A DataFrame represents a rectangular table of data and contains an ordered collection of columns. 

Each column can be a different value type (numeric, string,
boolean, etc.). 

The DataFrame has both a row and column index;

Think of it 
as an ordered dict of Series all sharing the same row index. 

Underneath data is stored as one or more two-dimensional blocks (similar to ndarray) 
rather than a list, dict, or some other collection of
one-dimensional arrays.

In [ ]:
# Many ways of DataFrame creation

# One common way is to create it  
# from a dict of equal-length lists or NumPy arrays

In [ ]:
data = {'city': ['Riga', 'Riga', 'Riga', 'Jurmala', 'Jurmala', 'Jurmala'],
        'year': [1990, 2000, 2018, 2001, 2002, 2003],
        'popul': [0.9, 0.75, 0.62, 0.09, 0.08, 0.06]}

df = pd.DataFrame(data)
df

In [ ]:
df2 = pd.DataFrame(data, columns=['year','city', 'popul','budget'])
df2

In [ ]:
# missing column simply given Nans

In [ ]:
df2['budget']=300000000
df2

In [ ]:
df2['budget']=[300000, 250000, 400000, 200000, 250000, 200000] # need to pass all values
df2

In [ ]:
# Many ways of changing individual values

## Recommended way of changing in place (same dataframe)

In [ ]:
df2.iat[3,2]=0.063
df2

In [ ]:
df2["budget"]

In [ ]:
type(df2["budget"])

In [ ]:
# delete column by its name
del df2["budget"]
df2

In [ ]:
df = pd.DataFrame(np.random.randn(15,5), index=dates, columns=list('ABCDE'))
# We passed 15 rows of 5 random elements and set index to dates and columns to our basic list elements
df

In [ ]:
df2 = pd.DataFrame({ 'A' : 1.,
                      'B' : pd.Timestamp('20130102'),
                      'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                      'D' : np.array([3] * 4,dtype='int32'),
                      'E' : pd.Categorical(["test","train","test","train"]),
                      'F' : 'foo' })
df2

In [ ]:
#most columns need matching length!

Categorical data type:
https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

In [ ]:
s = pd.Series([1,4,3.5,3,np.nan,0,-5])
s

In [ ]:
df3 = pd.DataFrame({ 'A' : 1.,
                   'B' : pd.Timestamp('20180523'),
                   'C' : s,
                   'D' : [x**2 for x in range(7)],
                   'E' : pd.Categorical(['test','train']*3+["train"]),
                   'F' : 'aha'
                   })
df3

In [ ]:
## different datatypes for columns!

In [ ]:
df3.dtypes

In [ ]:
df3.head()

In [ ]:
df3.tail(3)

In [ ]:
df.index

In [ ]:
df3.index

In [ ]:
df3.values

In [ ]:
df3.describe()

In [ ]:
df.info()

In [ ]:
# Transpose

In [ ]:
df3.T

In [ ]:
df.sort_index(axis=1,ascending=True)

In [ ]:
## Sort by Axis in reverse

In [ ]:
df.sort_index(axis=1,ascending=False)

In [ ]:
df3.sort_values(by='C', ascending=False)

In [ ]:
# Notice NaN gets last

### Selection 

Note: while standard Python / Numpy expressions for selecting and setting are intuitive and come in handy for interactive work, for production code, we recommend the optimized pandas data access methods, .at, .iat, .loc and .iloc.

In [ ]:
df3['D']

In [ ]:
df3[:5]

In [ ]:
df3[2:5]

In [ ]:
df3[2:5:2]

In [ ]:
df3[::-1]

## Selection by Label

For getting a cross section using a label:

In [ ]:
df

In [ ]:
df.loc[dates[0]]

In [ ]:
df.loc[dates[2:5]]

In [ ]:
## Selecting on a multi-axis by label:

In [ ]:
df.loc[:, ['A','B','C']]

In [ ]:
df.loc[dates[2:5], ['A','B','C']]

In [ ]:
df.loc['20180525':'20180601',['B','C']]

In [ ]:
# Reduction in the dimensions of the returned object:

In [ ]:
df.loc['20180526', ["B", "D"]]

In [ ]:
## Getting scalars (single values)

In [ ]:
df.loc['20180526', ["D"]]

In [ ]:
# same as above

In [ ]:
df.at[dates[5],'D']

In [ ]:
## Selection by Position

In [ ]:
df.iloc[3]

In [ ]:
# By integer slices, acting similar to numpy/python:

In [ ]:
df.iloc[2:5,:2]

In [ ]:
# By lists of integer position locations, similar to the numpy/python style:

In [ ]:
df.iloc[[3,5,1],[1,4,2]]

In [ ]:
df.iloc[2,2]

In [ ]:
# For getting fast access to a scalar (equivalent to the prior method):

In [ ]:
df.iat[2,2]

## Boolean Indexing

In [ ]:
## Using a single column’s values to select data.

In [ ]:
df[df.A > 0.2]

In [ ]:
df[df > 0]

In [ ]:
df[df > 1]

In [ ]:
s1 = pd.Series([x**3 for x in range(15)], index=pd.date_range('20180521', periods=15))
s1

In [ ]:
df

In [ ]:
df['F'] = s1
df

In [ ]:
df['F']=42
df

In [ ]:
df['G']=[x**3 for x in range(15)] # passing a fresh list to particular column
df

In [ ]:
df.at[dates[1], 'A'] = 33
df

In [ ]:
df.iat[4,4]= 42
df

In [ ]:
df3 = df.copy()
df3

In [ ]:
df3[df3 > 0.2 ] = -df3
df3

In [ ]:
# Missing Data
# pandas primarily uses the value np.nan to represent missing data. 
# It is by default not included in computations.

In [ ]:
df['H'] = np.nan
df

In [ ]:
df.fillna(value=3.14)

In [ ]:
# there is also df.dropna() to drop any ROWS! with missing data

## Operations

DataFrame methods and properties:
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html
        
Series methods and properties:
* https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.html
    
Data Science Handbook:
* [Data manipulation with Pandas](https://jakevdp.github.io/PythonDataScienceHandbook/index.html#3.-Data-Manipulation-with-Pandas)

In [ ]:
df

In [ ]:
df.mean()

In [ ]:
df.max()

In [ ]:
# Other axis

In [ ]:
df.mean(axis=1)

In [ ]:
## String operations (df.str.*)

In [ ]:
import numpy as np
str1 = pd.Series(['APPle', 'baNAna', np.NaN, 42, 'mangO'])
str1

In [ ]:
[name for name in dir(str1.str) if not name.startswith("_")]

In [ ]:
help(str1.str.lower)

In [ ]:
str1.str.lower()

In [ ]:
str1.str.len()

In [ ]:
## Apply

In [ ]:
# Lambda functions are anonymous functions
# (functions defined without a name)

# We can apply a function over all DataFrame elements:

df.apply(lambda x: x*3) # ie same as df*3

In [ ]:
df = pd.DataFrame({'key': ['A', 'B', 'C', 'A', 'B', 'C'], 'data': range(6)}, columns=['key', 'data'])
df

In [ ]:
df.groupby('key')

In [ ]:
df.groupby('key').sum()

In [ ]:
help(df.groupby)

### Time series

In [ ]:
ts = pd.Series(np.random.randn(3650), index=pd.date_range('11/18/2008', periods=3650))

In [ ]:
ts

In [ ]:
ts = ts.cumsum() # cumulative sum

In [ ]:
ts

In [ ]:
ts.plot()

In [ ]:
ts["2014-01-01":"2016-01-01"] = np.NaN

In [ ]:
ts.plot()

In [ ]:
rolling_avg = ts.rolling(window=90).mean()
rolling_avg

In [ ]:
rolling_avg.plot()

## File operations

In [ ]:
# CSV
# Writing to a csv file.

In [ ]:
df.to_csv("test_pandas2.csv")

In [ ]:
# Reading from csv

In [ ]:
new_df = pd.read_csv("test_pandas2.csv", index_col=0)
new_df.head()

In [ ]:
# Excel

In [ ]:
# this will raise an error if 'openpyxl' package is not installed
df.to_excel('test_pandas.xlsx', sheet_name='Sheet1')

In [ ]:
df6=pd.read_excel('test_pandas.xlsx', 'Sheet1', index_col=0, na_values=['NA'])

In [ ]:
df6.head()

In [ ]:
# basic DataFrame information:

In [ ]:
df.info()

In [ ]:
df.info(memory_usage="deep") # more reliable info

## Exercises